<%- include('includes/head.ejs') %>
    </head>

    <body>
        <header class="main-header">
            <section class="main-header__container">
                <div class="main-header__logo">
                    <a href="#">PERROSHOP</a>
                </div>
            </section>
        </header>
        <main class="section-spacing align-center">
            <h2>Esta página no se encuentra disponible.<br>Lo sentimos.</h2>
            <div>
                <a class="btn" href="/">Volver a la tienda</a>
            </div>
        </main>
        <%- include('includes/end.ejs') %>